@import url(main.css);

h1 {
  color: var(--color-highlight)
}

p {
  line-height: 1.6;
}

.intro {
  text-align: center;
  margin-bottom: 8em;
}

button {
  border-radius: 8px;
  border: 3px solid var(--color-highlight);
  padding: 0.5em;
}

button:hover {
  border: 3px solid var(--color-text-light);
}

button:active {
  background-color: var(--color-highlight-dark);
}

.blog-title {
  padding-left: 2em;
}

.leetcode-post-container {
  text-align: center;
  align-items: center;
}

.leetcode-posting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--color-highlight-dark);
  border-radius: 8px;
  color: var(--color-text-light);
  cursor: pointer;
  margin: 1em;
  padding: 10px;
}

.leetcode-posting:hover {
  background-color: var(--color-highlight-dark);
}

.leetcode-posting:hover > * {
  background-color: var(--color-highlight-dark);
  color: var(--color-text-light)
}