h1 {
  color: var(--color-highlight)
}

p {
  line-height: 1.6;
}

.intro {
  text-align: center;
  margin-bottom: 8em;
}

.site-nav {
  margin-right: 10em;
  margin-left: 10em;
  margin-bottom: 6em;
}

.recent-posts {
  margin-right: 10em;
  margin-left: 10em;
}

.nav-title {
  color: var(--color-text-light)
}

.recent-title {
  color: var(--color-text-light)
}

.nav-list {
  line-height: 2.2;
}

.nav-list a {
  color: var(--color-highlight)
}

.nav-list a:hover {
  color: var(--color-text-light)
}

.recent-post-container {
  text-align: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 3px solid var(--color-highlight);
  padding: 0.5em;
}

button:hover {
  border: 3px solid var(--color-text-light);
}

button:active {
  background-color: var(--color-highlight-dark);
}

.recent-posting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--color-highlight-dark);
  border-radius: 8px;
  color: var(--color-text-light);
  cursor: pointer;
  margin: 1em;
  padding: 10px;
}

.recent-posting:hover {
  background-color: var(--color-highlight-dark);
}

.recent-posting:hover > * {
  background-color: var(--color-highlight-dark);
  color: var(--color-text-light)
}

.landing {
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 50px;
}

@media only screen and (max-width:1000px) {
  .landing {
    margin-left: 50px;
    margin-right: 50px;
  }

  .site-nav {
    margin-right: 0px;
    margin-left: 0px;
  }

  .recent-posts {
    margin-right: 0px;
    margin-left: 0px;
  }
}